:root[data-theme="light"] {
    --font-color: #333333;
    --background-color: rgba(0, 0, 0, 0.05);
}

:root[data-theme="dark"] {
    --font-color: #ccccd0;
    --background-color: #2c2c2f;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    transition: background-color .3s ease;
}